/*
COLOR PALETTE
https://coolors.co/e8f1f2-b3efb2-7a9e7e-31493c-001a23
# E8F1F2 - Alice Blue
# B3EFB2 - Celadon
# 7A9E7E - Cambridge blue
# 31493C - Brunswick green
# 001A23 - Rich black
*/

/* Global styles
-----------------------*/
body {
    color: #001A23;  /* text color black */
    margin: 0; /* removes space of body */
    padding: 0; /* removes padding around all content of page */
}
img {
    width: 300px;
}

a {
    color: #001A23;
}

a:hover {
    text-decoration: none; /* removes underline when hovering over link */
}

h2 {
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

 /* Profile
-----------------------*/
header {
    background-color: #E8F1F2;
}

 /* Projects
 -----------------------*/
 .projects {
    background-color: #B3EFB2;
 }

 .projects a {
    color:darkmagenta;
 }

 .projects .btn {
    color: skyblue;
    background-color: #001A23;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
 }

 .projects btn:hover {
    background: rgba(0,26,35, 80%);
 }

 /* Work Experience
 -----------------------*/
 .work-experience {
    background-color: #7A9E7E;
 }

 /* Education
 -----------------------*/

 /* Contact Info
 -----------------------*/
footer {
    background-color: #31493C;
    color: white;
}
 
